{%- capture inner_slides -%}

    {% for slide in slides %}
        <li class='card'>
            <div class='img'>
                {% bookshop "global/image" image: slide.image image_alt:slide.image_alt %}
            </div>
        </li>
    {% endfor %}

{%- endcapture %}

{% bookshop "master-slider" type: "image_slider" inner_slides: inner_slides %}