{%- capture inner_slides -%}

    {% for card in slides %}
        <li class='card'>
            {% if card.heading %}
                <h1>{{ card.heading }}</h1>
            {% endif %}
            {% if card.image_path %}
                <div class='img'>
                    {% bookshop "global/image" image_path: card.image_path image_alt: card.image_alt %}
                </div>
            {% endif %}
        </li>
    {% endfor %}

{%- endcapture %}

{% bookshop "master-slider" type: "card_slider" inner_slides: inner_slides %}