.card_slider{
    grid-auto-columns: 100%;  
    height:400px;

    @media (--tablet){ grid-auto-columns: calc((100% / 2) - 9px); }
    @media (--desktop){ grid-auto-columns: calc((100% / 3) - 12px); }
    @media (min-width:1024px){ grid-auto-columns: calc((100% / 4) - 9px); }
    
    .card{
        background:var(--color-white);
        flex-direction:column;
        align-items: center;
        padding:30px;
        gap: 30px;

        .img{
            overflow:hidden;                
            aspect-ratio:1 / 1;
            height:auto!important;
            width: 80%!important;                           
            border: 8px solid white;
            outline: 8px solid steelblue;
        }
    }
}